@import "../fonts/lifehack.css";
@import "../css/normalize.css";

html {
    min-height: 100%;
}

body {
    font-family: Tahoma, Arial, sans-serif;
}

.container {
    width: 940px;
    margin: 0 auto;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


/*HEADER*/

.header {
    background: #4e8598;
    color: #fff;
}

.logo{
    font-family: lifehackbold;
    font-size: 27px;
    padding-top: 54px;
    width: 121px;
    margin: 0 auto;
}

.header__h1 {
    font-size: 27px;
    width: 600px;
    text-align: center;
    margin: 186px auto 29px;
    text-transform: uppercase;
}

.header__button {
    text-align: center;
}

.header__item {
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    display: inline-block;
    text-align: center;
    border-radius: 50px;
    padding: 20px 36px;
    margin: 0 auto 177px;
    font-weight: bold;
}

.header__arrow {
    padding-bottom: 58px;
    text-align: center;
}

/*ABOUT*/

/*LEFT*/

.about__left {
    width: 386px;
    float: left;
}

.about__h2 {
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    color: #2f383b;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 89px;
}

.left__h3, .right__h3 {
    font-size: 22px;
    color: #2f383b;
    text-transform: uppercase;
}

.left__h3:after, .right__h3:after {
    content: "";
    display: block;
    background: #4e8598;
    height: 3px;
    width: 72px;
    margin-top: 13px;
}

.left__desc {
    margin-top: 30px;
    font-size: 15px;
    color: #2f383b;
}

/*RIGHT*/

.about__right {
    width: 452px;
    float: right;
}

.right__list {
    padding: 0;
    margin: 0;
}

.right__item {
    display: block;
    padding: 10px 0 10px 63px;
    margin-bottom: 25px;
}

.right__item:last-child {
    margin-bottom: 0;
}

.right__item-a {
    background: url(../img/bug.png) no-repeat left center;
}

.right__item-b {
    background: url(../img/bell.png) no-repeat left center;
}

.right__item-c {
    background: url(../img/storm.png) no-repeat left center;
}

.right__item-d {
    background: url(../img/camera.png) no-repeat left center;
}

.right__desc-a {
    display: inline;
    color: #4e8598;
    font-size: 16px;
    font-weight: bold;
}

.right__desc-b {
    display: inline;
    color: #bcbebf;
    font-size: 15px;
    padding-left: 28px;
}

/*WHY*/

.why__h2 {
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    color: #2f383b;
    text-align: center;
    margin-top: 160px;
}

.why__box {
    margin-top: 72px;
}

.box__number {
    height: 75px;
    width: 75px;
    border: 1px solid #000;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    color: #2f383b;
    line-height: 75px;
    margin: 0 auto;
}

.box__text {
    font-size: 16px;
    color: #2f383b;
    font-weight: bold;
}

.box__float {
    display: inline-block;
}

.box__a {
    padding-left: 64px;
}

.box__b {
    padding-left: 154px;
}

.box__c {
    padding-left: 105px;
}

.box__number:hover {
    background: #2f383b;
    color: #fff;
    transition-duration: 0.5s;
    border: 1px solid #fff;
}

.why__h3 {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    color: #2f383b;
    text-align: center;
    margin-top: 64px;
}

.why__desc {
    width: 415px;
    font-size: 14px;
    color: #2f383b;
    margin: 30px auto 30px;
    text-align: center;
}

.why__button {
    text-align: center;
}

.why__item {
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    background: #2f383b;
    color: #fff;
    display: inline-block;
    text-align: center;
    border-radius: 50px;
    padding: 20px 36px;
    margin: 0 auto 75px;
    font-weight: bold;

}

/*FOOTER*/

.footer {
    background: #2f383b;
    padding: 50px 0;
}

.footer__text {
    font-size: 13px;
    color: #999c9d;
    display: inline-block;
}

.footer_text-a {
    float: left;
}

.footer_text-b {
    float: left;
    margin-left: 240px;
}

.footer_text-c {
    float: right;
}




